{% extends 'bot/base.html' %}

{% load i18n paginate %}

{% block jumbotron %}{% endblock %}
{% block content %}
    <style>.pagination{width: 100%;}</style>
    <div class="container">

        <div class="row" style="margin-top: 80px">
            <div class="col-sm-6">
                <form action="" method="GET" id="search-form">{% csrf_token %}
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" id="search-query" name="q" value="{{ q|default:'' }}" placeholder="Search for message">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" id="search-button"><i class="fa fa-search"></i> </button>
                        </span>
                    </div><!-- /input-group -->
                </form>
            </div>
        </div><!-- /.row -->


        <table class="table" style="font-size: 12px;">
            <thead>
                <tr>
                    <th>Identity</th>
                    <th>First Name </th>
                    <th>Last Name </th>
                    <th>Username</th>
                    <th>Group Name</th>
                    <th>Entry</th>
                    <th>Action</th>

            </thead>
            <tbody>
                {% for data in context %}
                    <tr>
                        <td>{{ data.member.member_id }}</td>
                        <td>{{ data.member.first_name }}</td>
                        <td>{{ data.member.last_name }}</td>
                        <td>{{ data.member.username }}</td>
                        <td>{{ data.group.title }}</td>
                        <td>{{ data.created }}</td>
                        <td><a href="{% url 'core:leech-add' data.member.id data.group.id %}" class="btn btn-primary btn-sm" data-path="">Make Leech</a></td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
        {{ context|paginate_to:"10,True" }}
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $("#search-form").submit(function (d) {
                d.preventDefault();
                location.href = "./?q="+$("#search-query").val();
            })

        });
    </script>
{% endblock %}