{% extends 'bot/base.html' %}

{% load i18n paginate %}

{% block jumbotron %}{% endblock %}
{% block content %}
    <style>.pagination{width: 100%;}</style>
    <div class="container">

        <div class="row" style="margin-top: 80px">
            <div class="col-sm-6">
                <form action="" method="GET" id="search-form">{% csrf_token %}
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" id="search-query" name="q" value="{{ q|default:'' }}" placeholder="Search for message">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" id="search-button"><i class="fa fa-search"></i> </button>
                        </span>
                    </div><!-- /input-group -->
                </form>
            </div>
        </div><!-- /.row -->


        <table class="table" style="font-size: 12px;">
            <caption ><h3 class="pull-right">{{ account|default:'All' }}</h3></caption>
            <thead>
                <tr>
                    <th>From ID</th>
                    <th>Message ID</th>
{#                    <th>Source</th>#}
                    <th>Source Id</th>
                    <th>Text</th>
                    <th>For Id</th>
                    <th>Treated</th>
                    <th>Entry</th>
                </tr>
            </thead>
            <tbody>
                {% for data in context %}
                    <tr>
                        <td> {{ data.from_id }}</td>
                        <td> {{ data.message_id }}</td>
{#                        <td> {{ data.source }}</td>#}
                        <td> {{ data.source_id }}</td>
                        <td> {{ data.text }}</td>
                        <td> {{ data.for_id }}</td>
                        <td> {{ data.treated }}</td>
                        <td> {{ data.created }}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
        {{ context|paginate_to:"10,True" }}
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $("#search-form").submit(function (d) {
                d.preventDefault();
                location.href = "./?q="+$("#search-query").val();
            })
        });
    </script>
{% endblock %}